footer{
    padding: 60px 0;

    & > div{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    .content{
        ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;

            li{
                list-style: none;
                color: var(--texto-color1);
                i{
                    color: var(--texto-rojito);
                }
                span{
                    font-size: 18px;
                }
            }
        }
    }

    .container-social-copyright{
        display: flex;
        align-items: center;
        color: var(--texto-color1);

        ul{
            display: flex;
            gap: 20px;
            flex: 1;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: var(--texto-color1);
                    border: 1px solid var(--texto-color1);
                    border-radius: 999px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s ease;

                    i{
                        font-size: 22px;
                    }
                    &:hover{
                        background-color: var(--color-primary);
                        border-color: var(--color-primary);
                        i{
                            color: var(--texto-color1);
                        }
                    }
                }
            }
        }
        p{
            font-size: 18px;
        }
    }

    @media(max-width:992px){
        padding: 30px;
        padding-top: 100px;

        & > div{
            gap: 40px;
        }
    }
    @media(max-width:768px){
     .content{
        ul{
            li{
                span{
                    font-size: 16px;
                }
            }
        }
     }

     .container-social-copyright{
        flex-direction: column;
        gap: 20px;

        il{
            justify-content: center;
        }
        p{
            font: size 16px; ;
        }
     }
    }







}